Package: pi-bluetooth+re4son
Version: 2.2
Architecture: all
Maintainer: Re4son Protagonist <re4son@whitedome.com.au>
Installed-Size: 22
Depends: bluez (>= 5.43), bluez-firmware
Replaces: pi-bluetooth
Provides: pi-bluetooth
Section: admin
Priority: optional
Homepage: https://www.whitedome.com.au/re4son/re4son-kernel
Description: Bluetooth services and rules for Raspberry Pi
 This package contains services and udev rules required for Bluez
 to work with the Broadcom bluetooth chip found in the Raspberry Pi 3 & Zero W
